[submodule "firmware/athena_matrix/components/ESP32-HUB75-MatrixPanel-I2S-DMA"]
	path = firmware/athena_matrix/components/ESP32-HUB75-MatrixPanel-I2S-DMA
	url = https://github.com/mrcodetastic/ESP32-HUB75-MatrixPanel-DMA
